.pages {
    display: flex;
    justify-content: center;
    margin: 25px 0px 10px 0px;
    background-color: inherit;
    width: 100%;
    color:white
}

.buttons {
    background-color: #C10206     ;
    border: 1px solid black;
    padding: 4px;
    margin: 2px 4px 2px 4px;
    cursor: pointer;
    border-radius: 5px;
}

.pages span:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pages span:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.active{
    background-color: #000000;
    color:white;   
    border: 1px solid black;
    padding: 4px;
    margin: 2px 4px 2px 4px;
    border-radius: 5px;
    cursor: pointer;
}

.pages span:hover:not(.active) {background-color: #A50113;}