.dropdown-filter-by-source{
	position:relative;
    padding: 7px 0px 7px 0px;
    margin: 8px 0px 8px 0px;
    border-radius: 5px;
    width: fit-content;
    color: white;
    text-align: center;
    cursor: pointer;
    
}

.dropdown-filter-by-source-content{
	display: none;
    position:absolute;
    background-color: #DFE2DB;
    padding: 5px;
    color: black;
    z-index: 1;  
    width: 100%; 
    border-radius: 10px;
    margin-top: 7px;
   
}

.dropdown-filter-by-source:hover .dropdown-filter-by-source-content{
	display:block;
    overflow: hidden;
}

.item-filter-by-source{
    position: relative;
}

.item-filter-by-source::before{
	content:"";
    position:absolute;
   	background-color: #C10206;
    width: 0%;
    height: 100%;
    transition: width 0.6s;
    z-index: -1;
    transform: skewX(20deg);
    left: -10px;

}

.item-filter-by-source:hover{
    color: white;
}

.item-filter-by-source:hover:before{
    width: calc(100% + 11px)
}

.dropdown-filter-by-source:hover{
    background-color: #DFE2DB;
    color: black;
}