.form-container{
    background-color: #FFFBF2;
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: fit-content;
}

.form{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #DFE2DB;
    color: black;
    border-radius: 10px;

}

.form-labels-container{
    width: 100%;
    border-radius: 15px;
    padding: 10px;
}

.labels-container span{
    margin-left: 2.5%;
}

.form-label-text{
    margin-top: 10px;
    display: block;
}

.checkBoxes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    margin-bottom: 20px;
}

input[type=checkbox]{
    cursor: pointer;
}

input[type=text]{
    display: block;
    width: 90%;
    margin-left: 2.5%;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

h1{
    margin: 10px 0px 0px 0px;
}

button[type=submit]{
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-right: 35vw;
    cursor: pointer;
}

.form-home-button{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form-img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}