.search-bar{
    padding: 7px 0px 7px 0px;
    position: relative;
}

.search-bar input{
    border-radius: 10px;
    padding: 4px 0px 4px 4px;
    margin-right: 5px;
}

.close-search{
    position: absolute;
    font-size: 14px;
    top:75%;
}

.close-search span{
    border-radius: 100%;
    padding-left: 2.5px;
    padding-right: 2.5px;
    background-color: white;
    color: black;
    padding: auto;
}

.close-search span:hover{
    background-color: red;
    cursor: pointer;
}