.pages {
    display: flex;
    justify-content: center;
    margin: 20px 0px 5px 0px;
    background-color: inherit;
}

div.pages span {
    background-color: #ddd  ;
    border: 1px solid black;
    padding: 4px;
    margin: 2px 4px 2px 4px;
    cursor: pointer;
}

.pages span:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pages span:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.active{
    background-color: #7f00b2;   
}

.pages span:hover:not(.active) {background-color: #ddd;}